html {
  background: radial-gradient(#12355B 10%,
    transparent 10%), radial-gradient(#57E2E5 10%, transparent 10%), radial-gradient(#45CB85 10%, transparent 10%), radial-gradient(#F2F2F2 10%, transparent 10%);
    background-size: 20px 20px;
    background-position: 0 0, 25px 25px, 50px 50px, 75px 75px;
};


/* Colors: 
 Davys Grey #50514F
 Prussian Blue #12355B
 Medium Turquoise #57E2E5
 Emerald #45CB85
 Linen #FFEDE1
 */